#block-yg-biz-main-menu ul li a {
    color: #000;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#block-yg-biz-main-menu ul li  {
    display: inline-block;
}
#block-yg-biz-main-menu ul li a.is-active, #block-yg-biz-main-menu ul li a:hover {
    color: #f7292b;
    text-decoration: none;
}
.navbar-nav.ml-auto .menu {
    padding: 0px 5px;
    position: relative;
    bottom: 2px;
}
@media only screen and (min-width: 320px) and (max-width: 990px){
#block-yg-biz-main-menu ul li  {
    display: block;
 }
}
nav#mainNav {
    padding: 28.5px 0px;
}
/*Pricing*/
.features_list .field__item {
    border-bottom: 1px solid #eee;
    padding: 5px 0px;
    color: #000;
    text-align: center;
    font-weight: lighter;
    margin-top: -5px;
    margin-bottom: 10px;
}
.features_list .field__item:last-child {
    border: none !important;
}
.service_details_page img{
    height: 450px;
}
.service_details_page h5.tag {
    padding: 15px 15px;
    font-size: 17px;
}
/*Comment section*/
.comments-img p .username{
    font-family: Roboto;
    color: #000 !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    text-align: center !important;
}
#comment-form {
    width: 65%;
    position: relative;
    left: 130px;
}
/*contact-us*/
#webform-submission-contact-us-node-16-add-form input{
    margin: 8px 0px !important;
}
#webform-submission-contact-us-node-16-add-form #edit-message{
    margin: 24px 0px 0px 0px !important;
}
.map .geolocation-common-map-container {
    height: 450px !important;
}
.location p {
    width: 400px;
    text-transform: capitalize;
}
.timing p {
    width: 400px;
}
/*footer*/
.footer_main_menu ul li {
    display: block !important;
    padding: 0px !important;
}
.footer_main_menu ul li a {
    text-transform: capitalize !important;
    color: #000 !important;
    font-weight: 100 !important;
    font-size: 16px !important;
    letter-spacing: 0px !important;
}
.footer_main_menu ul li a:hover {
    color: #f7292b !important;
    text-decoration: none !important;
}
.footer_main_menu .menu li:first-child {
    display: none !important;
}
/*login-page*/
#block-yg-biz-content #user-login-form,
#block-yg-biz-content #user-register-form,
#block-yg-biz-content #user-pass {
    padding: 5px 300px 50px;
}
#block-yg-biz-content #user-login-form input, 
#block-yg-biz-content #user-register-form input,
#block-yg-biz-content #user-pass input{
    border-radius: 0px !important;
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
    border: 1px solid #e3e3e3;
    padding: 3px;
}
#block-yg-biz-content #user-login-form #edit-submit,
#block-yg-biz-content #user-register-form #edit-submit,
#block-yg-biz-content #user-pass #edit-submit {
    color: #fff;
    font-weight: bolder;
    border-radius: 8px;
    padding: 2px 20px !important;
    margin-top: 15px;
    border: 1px solid #f92829;
    cursor: pointer;
    font-family: Roboto slab;
    background-color: #f95b5c !important;
    width: auto;
}
.tabs {
    padding: 0px 80px;
}
/* Page Not Found Section */
#page-not-found {
    padding: 0px;
    min-height: 450px;
}
#page-not-found h1 {
    font-size: 130px;
    color: #f7292b;
    font-weight: bolder;
}
#page-not-found h3 {
    font-size: 22px;
}
#page-not-found .section-title {
    margin-bottom: 0px;
}
#page-not-found p {
    margin: 0 0 50px;
}

.section-title h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -1px;
}
.section-title p {
    font-size: 18px;
}
.page-not-found-text a {
    background-color: #f92829;
    color: #fff;
    font-weight: bolder;
    border-radius: 8px;
    border: 1px solid #f95b5c;
    cursor: pointer;
    font-family: 'Roboto slab';
}
.page-not-found-text a:hover {
    background-color: #f95b5c;
    border: 1px solid #f92829;
    cursor: pointer;
}

#footer .nav-link{
    padding: 0px;
}