<section id="blog" class="wow fadeInUp">
  <div class="container">
    {{content.field_title_1.0}}
    {{ content.field_portfolio_view_ref.0 }}
  </div>
</section>
<section id="clients-testimonial" class="wow fadeInUp">
  <div class="container">
    {{content.field_title_2.0}}
    {{ content.field_services_view_ref.0 }}
  </div>
</section>
