<div class="service_and_portfolio_view">
  <section id="services" class="wow fadeInUp">
    <div class="container">
      {{content.field_title_1.0}}
      <div class="service_view">{{ content.field_services_view_ref.0 }}</div>
	</div>
  </section>
  <section id="portfolio" class="text-center">
	<div class="container">
		{{content.field_title_2.0}}
		{{content.field_description.0}}
		<div class="portfolio_view">{{ content.field_portfolio_view_ref.0 }}</div>
		<a href="{{content.field_url.0['#url']}}" class="btn btn-infos" title="{{content.field_url.0['#title']}}">{{content.field_url.0['#title']}}</a>
	</div>    
  </section>  

</div>