<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    {% for result in view.result %}
    <li data-target="#carouselIndicators" data-slide-to="{{ loop.index-1 }}"
      class="{% if ( loop.index == 1 )  %}active{% endif %}"></li>
    {% endfor %}
  </ul>
  <div class="carousel-inner" role="listbox">
    {% for row in rows %}
    {{row.content}}
    {% endfor %}
  </div>
</div>
