
  <div class="carousel-item slide">
    <img src="{{ file_url(fields.uri.content) }}">
    <div class="carousel-caption d-none d-md-block wow fadeInUp">
      <h1>{{ fields.title.content }}</h1>
      <p>{{ fields.body.content }}</p>
      <a href="{{fields.field_url_1.content}}" class="btn btn-link btn-infos" title="{{fields.field_url.content}}">{{fields.field_url.content}}</a>
    </div> 
  </div>