{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
{% set basepath = url('<front>')  %}

        <div class="loop owl-carousel owl-theme">
       {% for result in view.result %}
          <div class="item wow fadeInUp">
            <a href="{{ basepath }}node/{{ view.field.nid.value(view.result[loop.index-1]) }}"><div class="col-md-12 col-sm-12">
              <div class="services-img">
                <img src="{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}" 
                alt="{{ view.field.title.value(view.result[loop.index-1]) }}">
              </div>
                <div class="services-caption text-center">
                  <h5>{{ view.field.title.value(view.result[loop.index-1]) }}</h5>
                  <p>{{ view.field.name.value(view.result[loop.index-1]) }}</p>                    
                </div>
            </div></a> 
          </div>
        {% endfor %}    
      </div>
    