{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- HEADER SECTION -->
<header>
 <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    {{ page.site_branding }}
    {% if page.main_menu %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>    
    {% endif %}  
     <div class="collapse navbar-collapse" id="navbarResponsive">
     {% if page.main_menu %}  
      <ul class="navbar-nav ml-auto">
        {{ page.main_menu }}
      </ul>
    {% endif %}      
    </div>
  </div>  
  </nav>
</header>

<!-- BANNER SLIDER SECTION -->
<section id="services-banner">
  {% if bg_image_url|render is not empty %}
    <img src="{{ bg_image_url }}" class="img-fluid" alt="banner" title="banner">
  {% else %}  
    <img src="images/banner-inner.jpg" class="img-fluid" alt="banner" title="banner">
  {% endif %} 
    <div class="services-banner-caption mx-auto">
      <h1><span>{{ page['#title'] }}</span></h1>
    </div>            
</section>
<!-- END BANNER SLIDER SECTION -->

{%  set base_url = url('<front>')  %}
<div id="page-not-found">
  <div class="col-xs-12 col-md-12 text-center">
    <div class="section-title">
      <h1>403</h1>
      <h2>{{ page['#title'] }}</h2>
    </div>        
    <div class="page-not-found-text">
      <p>Sorry, you do not have permission to view this page.</p>
      <a href="{{ base_url }}" class="btn btn-lg page-scroll">Back To Home</a>
    </div>
  </div>      
</div>
 
{% block footer %}
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 wow fadeInUp">
        <h5>Contact</h5>
        {% if address %}
          {% autoescape 'html' %}
            {{ address|raw }}
          {% endautoescape %}
        {% endif %}
        {% if phone_no|render is not empty%}
          <a href="tel:{{ phone_no }}">{{ phone_no }}</a>
        {% endif %}  
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInUp">
       <div class="footer_main_menu"> 
        <h5>Info</h5>
          {{ page.main_menu }}  
        </div>  
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInUp">
        <h5>Social</h5>
        <div class="social">
          {% if twitter_url|render is not empty %}
            <a href="{{ twitter_url}}" class="twitter"><i class="fa fa-twitter"></i></a>
          {%  endif %} 
          {% if facebook_url|render is not empty %}
           <a href="{{ facebook_url }}" class="facebook"><i class="fa fa-facebook"></i></a>
          {% endif %} 
          {% if instagram_url|render is not empty %}
            <a href="{{ instagram_url}}" class="instagram"><i class="fa fa-instagram"></i></a>
          {% endif %}
          {% if google_plus|render is not empty %}
            <a href="{{ google_plus }}" class="google-plus"><i class="fa fa-google-plus"></i></a>
          {% endif %}
          {% if pinterest_url|render is not empty %}
            <a href="{{ pinterest_url }}" class="google-plus"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          {% endif %}  
        </div>
      </div>
    </div>
  </div>
</section>
<div class="copyright wow fadeInUp">
  {{ page.copyrights }}
</div>
{% endblock %}
