{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}">
    	<img src="{{ site_logo }}" class="img-fluid" alt="{{ 'Home'|t }}" title="{{ 'Home'|t }}">
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" alt="{{ 'Home'|t }}" title="{{ 'Home'|t }}"><h2>{{ site_name }}</h2></a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
