<!-- HEADER SECTION -->
<header>
 <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container">
    {{ page.site_branding }}
    {% if page.main_menu %}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>    
    {% endif %}  
     <div class="collapse navbar-collapse" id="navbarResponsive">
     {% if page.main_menu %}  
      <ul class="navbar-nav ml-auto">
        {{ page.main_menu }}
      </ul>
    {% endif %}      
    </div>
  </div>  
  </nav>
</header>
<!-- END HEADER SECTION -->
<!-- BANNER SLIDER SECTION -->
<section id="services-banner">
  {% if bg_image_url|render is not empty %}
    <img src="{{ bg_image_url }}" class="img-fluid" alt="banner" title="banner">
  {% else %}  
    <img src="images/banner-inner.jpg" class="img-fluid" alt="banner" title="banner">
  {% endif %} 
    <div class="services-banner-caption mx-auto">
      <h1><span>{{ page['#title'] }}</span></h1>
    </div>            
</section>
<!-- END BANNER SLIDER SECTION -->
<!-- ABOUT SECTION -->
<div id="main_content">
  {{ page.content }}
   {% if page.sidebar_first %}
      <div id="sidebar-first" class="column sidebar">
        <aside class="section" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      </div>
    {% endif %}
    {% if page.sidebar_second %}
      <div id="sidebar-second" class="column sidebar">
        <aside class="section" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      </div>
    {% endif %}
</div>
<!-- END CLIENTS SECTION -->
<!-- CALL TO ACTION SECTION -->
<section id="call-to-action" class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-8 my-auto">
        <h2>
          {% if cta_desc %}
           {% autoescape 'html' %}
            {{ cta_desc | raw }}
           {% endautoescape %}
          {% endif %}
        </h2>
      </div>
      <div class="col-md-4">
        {% if cta_link|render is not empty %}
          <a href="{{ cta_link }}" class="btn btn-infos">Buy Now</a>
        {% endif %} 
      </div>
    </div>  
  </div>
</section>
<!-- END CALL TO ACTION SECTION -->
<!-- FOOTER SECTION-->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 wow fadeInUp">
        <h5>Contact</h5>
        {% if address %}
          {% autoescape 'html' %}
            {{ address|raw }}
          {% endautoescape %}
        {% endif %}
        {% if phone_no|render is not empty%}
          <a href="tel:{{ phone_no }}">{{ phone_no }}</a>
        {% endif %}  
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInUp">
       <div class="footer_main_menu"> 
        <h5>Info</h5>
          {{ page.main_menu }}  
        </div>  
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInUp">
        <h5>Social</h5>
        <div class="social">
          {% if twitter_url|render is not empty %}
            <a href="{{ twitter_url}}" class="twitter"><i class="fa fa-twitter"></i></a>
          {%  endif %} 
          {% if facebook_url|render is not empty %}
           <a href="{{ facebook_url }}" class="facebook"><i class="fa fa-facebook"></i></a>
          {% endif %} 
          {% if instagram_url|render is not empty %}
            <a href="{{ instagram_url}}" class="instagram"><i class="fa fa-instagram"></i></a>
          {% endif %}
          {% if youtube|render is not empty %}
            <a href="{{ youtube }}" class="google-plus"><i class="fa fa-youtube-play"></i></a>
          {% endif %}
          {% if pinterest_url|render is not empty %}
            <a href="{{ pinterest_url }}" class="google-plus"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          {% endif %}  
        </div>
      </div>
    </div>
  </div>
</section>
<div class="copyright wow fadeInUp">
  {{ page.copyrights }}
</div>
<!-- END FOOTER SECTION -->

